/*
    common.css (layout.css 라고도 함)
    홈페이지 전체에 적용되는 공통스타일
    프로젝트마다 변경됨 - 이 css에 있는 속성을 수정하면 프로젝트 전체가 바뀜
*/
body{
    font-family: "Pretendard", "Cafe24Surround", sans-serif;
    font-weight: var(--font-weight-default);
    font-size: var(--font-size-default);
    color: var(--font-color-default);
    line-height: var(--line-height-default);/* 배수(글자크기의 몇배) */
    word-break: keep-all;/* 단어 단위로 줄바꿈 */
    word-wrap: break-word;/* 단어가 제한된 넓이보다 길면 강제 줄바꿈 */
}
.wrapper{
    width: var(--wrapper-w);
    margin: 0 auto; /* 화면에 가운데 정렬 */
}
#wrap{
    position: relative;
}
@media screen and (max-width:1320px){ /* 1260 + 30 + 30 */
    .wrapper{
        width: auto;
        margin: 0 var(--wrapper-margin);
    }
}
/* html 표준때문에 입력해야하는 태그이지만 홈페이지에 나오지 않는
   태그에 주는 클래스 */
.sr-only, .skip, .blind {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
:root{
    --wrapper-margin: 30px;
    --wrapper-w: 1260px;
    --gap: 24px;
    --font-color-default: #3d3d3d;
    --font-color-tit: #1d1d1d;
    --color-main: #DA5C67;
    --color-sub1: #BBDEFA;
    --color-sub2:#0074BC;
    --color-sb2: #FFEBEA;
    --color-white: #fff;
    --color-light-gray: rgba(204, 204, 204, 0.8);
    --color-w80: rgba(255,255,255,0.8);
    --color-w20: rgba(255,255,255,0.2);
    --font-weight-default: 400;
    --font-weight-bold: 800;
    --line-height-default: 1.5;
    --line-height-tit: 1.3;
    --header-h: 90px;
    --snb-h: 77px;  
    --font-size-default: clamp(20px, 2.4vw, 24px);
    --font-size-tit: 60px;
    --font-size-subtit: 40px;
    --icon-more: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.875 8.125H0.625C0.447917 8.125 0.299479 8.065 0.179687 7.945C0.0598958 7.825 0 7.67635 0 7.49906C0 7.32177 0.0598958 7.17344 0.179687 7.05406C0.299479 6.93469 0.447917 6.875 0.625 6.875H6.875V0.625C6.875 0.447917 6.935 0.299479 7.055 0.179687C7.175 0.0598958 7.32365 0 7.50094 0C7.67823 0 7.82656 0.0598958 7.94594 0.179687C8.06531 0.299479 8.125 0.447917 8.125 0.625V6.875H14.375C14.5521 6.875 14.7005 6.935 14.8203 7.055C14.9401 7.175 15 7.32365 15 7.50094C15 7.67823 14.9401 7.82656 14.8203 7.94594C14.7005 8.06531 14.5521 8.125 14.375 8.125H8.125V14.375C8.125 14.5521 8.065 14.7005 7.945 14.8203C7.825 14.9401 7.67635 15 7.49906 15C7.32177 15 7.17344 14.9401 7.05406 14.8203C6.93469 14.7005 6.875 14.5521 6.875 14.375V8.125Z' fill='%23504E4F'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1024px){
    :root{
        --wrapper-margin: 24px;
        --header-h: 90px;
        --font-size-tit: 40px;
        --font-size-subtit: 32px;
    }
}
@media screen and (max-width:768px){
    :root{
        --font-size-tit: 24px;
        --font-size-subtit: 24px;
        --wrapper-margin: 16px;
        --snb-h: 52px;  
        --header-h: 56px;
        --gap: 16px;
    }
}
::selection{
    background-color: var(--color-main);
    color: var(--color-white);
}