    /*
        메인페이지에서만 호출
        메인에 필요한 다른 css를 부름
    */
    @import url(default.css);
    @import url(common.css);
    @import url(fonts.css);

    .header{
        position: absolute;
        height: var(--header-h);
        width: 100%;
        color: var(--font-color-tit);
        font-family: "Cafe24Surround";
    }
    .header .wrapper{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .header .gnb ul{
        display: flex;
        gap: 30px;
    }
    .header .gnb_open{
        display: none;
    }
    @media screen and (max-width:1270px){
                .header .gnb ul{
                    display: none;
                }
                
    }
    @media screen and (max-width:1024px){
                .header .gnb ul{
                    display: none;
                }
                .header .gnb_open{
                    display: block;
                }
    }
    @media screen and (max-width:768px){
                .header{
                    height: var(--header-h);
                }
                .header .wrapper{
                    width: 100%;
                    padding: 0 30px;
                }
                .header .gnb{
                    display: none;
                }
                .header .gnb_open{
                    display: block;
                }
    }


    .visual{
        background: url(../images/main/visual.svg) no-repeat center bottom / cover;
        padding: 174px 5% 307px 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .visual .txt{
        width: 44.51%; /* 739/1660*100 */
    }
    .visual .txt h2{
        font-family: "Cafe24Surround";
        font-size: 3vw;
        white-space: nowrap;
        color: var(--color-main);
        line-height: var(--line-height-tit);
    }
    .visual .txt p{
        font-weight: var(--font-weight-default);
        padding: 17px 0 0 0;
    }
    .visual .photo01{
        width: 9.15%; /* 152/1660*100 */
        margin-top: 14%;
        margin-right: 2.5%;
    }
    .visual .photo01 img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .visual .photo02{
        width: 50.18%; /* 833/1660*100 */
        margin-left: -4.05%;
    }
    .visual .photo02 img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    @media screen and (max-width:1024px){
                .visual{
                    background: none;
                    background-color: var(--color-sb2);
                    height: 425px;
                }
                .visual h2{
                    font-size: var(--font-size-tit);
                    color: var(--color-main);
                    line-height: var(--line-height-tit);
                    padding: 200px 0 0 0;
                }
                .visual p{
                    padding: 17px 0 0 0;
                }
                .visual .photo01{
                    display: none;
                }
                .visual .photo02{
                    margin-top: 24%;
                }
                .visual .photo02 img{
                    width: 95%;
                    object-fit: cover;
                }
    }
    @media screen and (max-width:768px){
                .visual{
                    padding: 200px 5% 307px 5%;
                }
                .visual .txt{
                    width: 44.51%;
                }
                .visual .txt h2{
                    font-size: 3.5vw;
                }
                .visual .txt p{
                    font-weight: var(--font-weight-default);
                    padding: 17px 0 0 0;
                }
                .visual .photo01{
                    width: 9.15%;
                    margin-top: 14%;
                }
                .visual .photo01 img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                .visual .photo02{
                    width: 50.18%;
                    margin-left: auto;
                }
                .visual .photo02 img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
    }
    @media screen and (max-width:425px){
                .visual{
                    padding: 0 5% 37px 5%;
                    display: flex;
                    flex-direction: column;
                }
                .visual .txt{
                    width: 86.51%;
                }
                .visual .txt h2{
                    font-size: 24px; /*vw했다고 모바일에서도 게속 vw로 안가도 됌*/
                    padding: 115px 0 0 0;
                }
                .visual .txt p{
                    display: none;
                }
                .visual .photo02{
                    width: 73.18%;
                    margin-top: 0;
                    margin-right: 62px;
                }
                .visual .photo02 img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
    }
    @media screen and (max-width:320px){
                .visual .txt h2{
                    font-size: 20px; /*vw했다고 모바일에서도 게속 vw로 안가도 됌*/
                    padding: 115px 0 0 0;
                }
                .visual .photo02{
                    margin-right: 38px;
                }
    }

    .best h2{
        font-family: "Cafe24Surround";
        text-align: center;
        padding: 150px 0 14px 0;
        font-size: var(--font-size-subtit);
        line-height: var(--line-height-tit);
    }
    .best h2 span{
        display: inline-block;
        padding-right: 44px;
        position: relative;
    }
    .best h2 span::after{
        content: "";
        position: absolute;
        right: 4px;
        top: 5px;
        width: 24px;
        height: 30px;
        background: url(../images/main/logo2.svg) no-repeat center center / contain;
    }

    .best .tab_list{
        position: relative;
    }
    .best .tab_list span{
        font-size: 20px;
        line-height: var(--line-height-default);
    }
    .best .tab_list span:hover{
        color: var(--color-main);
    }
    .best .tab_list ul{
        display: flex;
        justify-content: flex-end;
        gap: 51px;
    }
    .best .tab_list ul li::before{
        content: "";
        position: absolute;
        right: 112px;
        top: 12px;
        width: 1px;
        height: 12px;
        background-color: #ccc;
    }
    .best .list{
        background: url(../images/main/YOAJUNG\ YOAJUNG.jpg) no-repeat center top 40% / contain;
    }
    .best .list .swiper-slide .photo{
        overflow: hidden;
        padding: 172px 0 0 0;
    }
    .best .list .swiper-slide .photo img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .best .list .swiper-slide .txt{
        text-align: center;
    }
    @media screen and (max-width:1024px){
                .best .tab_list ul{
                    gap: 40px;
                }
                .best .tab_list ul li::before{
                    right: 106px;
                    top: 12px;
            }
    }
    @media screen and (max-width:768px){
                .best .tab_list span{
                    font-size: 17px ;
                }
                .best .tab_list ul{
                    gap: 30px;
                }
                .best .tab_list ul li::before{
                    right: 88px;
                    top: 11px;
                    height: 10px;
            }
    }
    @media screen and (max-width:425px){
                .best .tab_list span{
                    font-size: 17px ;
                }
                .best .tab_list ul{
                    gap: 30px;
                }
                .best .tab_list ul li::before{
                    right: 89px;
                    top: 11px;
                    height: 10px;
            }
    }
    @media screen and (max-width:375px){
                .best .tab_list span{
                    font-size: 17px ;
                }
                .best .tab_list ul{
                    gap: 25px;
                }
                .best .tab_list ul li::before{
                    right: 86px;
                    top: 11px;
                    height: 9px;
            }
    }
    @media screen and (max-width:320px){
                .best .tab_list span{
                    text-align: center;
                    font-size: 17px ;
                }
                .best .tab_list ul{
                    gap: 20px;
                }
                .best .tab_list ul li::before{
                    right: 85px;
                    top: 12px;
                    height: 8px;
            }
    }
    .store h2{
        font-family: "Cafe24Surround";
        text-align: center;
        padding: 150px 0 25px 0;
        color: var(--font-color-tit);
        font-size: var(--font-size-subtit);
    }
    .store h2 span{
        display: inline-block;
        padding-right: 44px;
        position: relative;
    }
    .store h2 span::after{
        content: "";
        position: absolute;
        right: 7px;
        top: 13px;
        z-index: 1;
        width: 24px;
        height: 30px;
        background: url(../images/main/logo2.svg) no-repeat center center / contain;
    }
    .store span p{
        text-align: center;
        font-size: var(--font-size-default);
        line-height: var(--line-height-default);
        padding: 0 0 75px 0;
    }
    .store .search{
        display: flex;
        width: 80%;
        height: clamp(56px, 8.5vw, 85px);
        border: 2px solid var(--color-main);
        border-radius: 50px;
        padding: 0 0 0 clamp(45px, 6.4vw, 64px);
        align-items: center;
        justify-content: space-between;
        margin: 0 auto; /* 검색어 바?가 가운데에 오게끔*/
    }
    .store .search .txt{
        width: calc(100% - clamp(90px, 13.2vw, 132px));
        background: var(--color-white);
        font-size: var(--font-size-default);
        font-weight: var(--font-weight-default) ;
        border: 0;
        outline: 0;
    }
    .store .search .txt::placeholder{
        color: var(--color-main);
    }
    .store .search .btn{
        border: 0;
        width: clamp(25px, 11.6vw, 116px);
        background-color: transparent; /*박스 뒤에 해놓고 숨김해놓고 svg로 복사*/
        background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4651 22.9303C8.26079 22.9303 5.54884 21.8205 3.3293 19.601C1.10977 17.3815 0 14.6695 0 11.4651C0 8.26079 1.10977 5.54884 3.3293 3.3293C5.54884 1.10977 8.26079 0 11.4651 0C14.6695 0 17.3815 1.10977 19.601 3.3293C21.8205 5.54884 22.9303 8.26079 22.9303 11.4651C22.9303 12.7587 22.7245 13.9787 22.3129 15.1252C21.9014 16.2717 21.3428 17.2859 20.6373 18.1679L30.5149 28.0455C30.8383 28.3689 31 28.7805 31 29.2802C31 29.78 30.8383 30.1916 30.5149 30.5149C30.1916 30.8383 29.78 31 29.2802 31C28.7805 31 28.3689 30.8383 28.0455 30.5149L18.1679 20.6373C17.2859 21.3428 16.2717 21.9014 15.1252 22.3129C13.9787 22.7245 12.7587 22.9303 11.4651 22.9303ZM11.4651 19.4026C13.67 19.4026 15.5441 18.6309 17.0875 17.0875C18.6309 15.5441 19.4026 13.67 19.4026 11.4651C19.4026 9.26031 18.6309 7.3862 17.0875 5.84282C15.5441 4.29943 13.67 3.52774 11.4651 3.52774C9.26031 3.52774 7.3862 4.29943 5.84282 5.84282C4.29943 7.3862 3.52774 9.26031 3.52774 11.4651C3.52774 13.67 4.29943 15.5441 5.84282 17.0875C7.3862 18.6309 9.26031 19.4026 11.4651 19.4026Z' fill='%23DA5C67'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-size: clamp(25px, 3.1vw, 31px);
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .store .list ul{
        padding: 75px 0 0 0;
    }
    .store .list .swiper-wrapper {
        padding-top: 75px;
    }
    .store .list .swiper-slide{
        width: 382px;   
        padding: 0 0 10px 0; /* 카드가 잘려 제대로 안나옴 여백 주고 나옴*/
    }
    .store .list .swiper-slide a{
        display: block;
        border-radius: 10px; 
        width: 100%;
    }
    .store .list .swiper-slide a .photo{
        overflow: hidden;
        border-radius: 10px 10px 0 0;
        height: 287px;
        /* padding: 75px 0 0 0; */
    }
    .store .list .swiper-slide a .photo img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s; /*아래 초*/
    }
    .store .list .swiper-slide a:hover .photo img{
        transform: scale3d(1.125, 1.125, 1); /* 사진에 마우스 올릴 때 사진 확대*/
    }
    .store .list .swiper-slide .txt{
        background: var(--color-white);
        box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.1);
        border-radius: 0 0 10px 10px;
        padding: 0 0 0 27px;
    }
    .store .list .swiper-slide .txt .road h3{
        font-size: 32px;
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-default);
        color: var(--font-color-tit);
        padding: 20px 0 18px 0;
    }
    .store .list .swiper-slide .txt .road p{
        font-size: 20px;
        font-weight: 400;
        line-height: var(--line-height-default);
        padding: 0 0 18px 0;
    }
    .store .list  .swiper-slide .txt .time{
        font-size: var(--font-size-default);
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-default);
        color: var(--font-color-tit);
        padding: 0 0 20px 274px;
    }
    @media screen and (max-width:1024px){
                .store h2 span::after{
                    right: 16px;
                    top: 0;
                    width: 19px;
                    height: 30px;
                }
                .store .list .swiper-slide a .photo{
                    gap: 16px;
                }
                .store .list .swiper-slide .txt .road h3{
                    font-size: var(--font-size-default);
                    font-weight: var(--font-weight-bold);
                    line-height: var(--line-height-default);
                    color: var(--font-color-tit);
                    padding: 20px 0 18px 0;
                }
                .store .list  .swiper-slide .txt .time{
                    padding: 0 0 20px 185px;
                }
    }/*@media */
    @media screen and (max-width:768px){
                .store .list  .swiper-slide .txt .time{
                    padding: 0 0 20px 250px;
                }
    }
    @media screen and (max-width:425px){
                .store .search .btn{
                    width: clamp(25px, 11.6vw, 116px);
                }
                .store .search {
                    padding: 0 0 0 clamp(17px, 6.4vw, 64px);
                }
                .store .list  .swiper-slide .txt .time{
                    padding: 0 0 20px 78px;
                }
    }/*@media */
    @media screen and (max-width:375px){
            .store .list  .swiper-slide .txt .time{
                    padding: 0 0 20px 220px;
                }
    }/*@media */
    @media screen and (max-width:320px){
        .store .list  .swiper-slide .txt .time{
                    padding: 0 0 20px 180px;
                }
    }
    .family .list{
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 184px 0 0 0;
    }   
    .family .list .photo{
        width: 618px;
        height: 408px;
        overflow: hidden;
        border-radius: 10px;

    }
    .family .list .photo img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .family .list .tit{
        position: relative;
        position: relative;
        text-align: center;
    }
    .family .list .tit h2 .pc{
        display: inline-block;
        font-family: "Cafe24Surround";
        color: var(--font-color-tit);
        font-size: var(--font-size-subtit);
    }
    .family .list .tit h2 .mobile{
        display: none;
    }
    .family .list .tit h2 span::after{
        content: "";
        position: absolute;
        right: -18px;
        top: 14px;
        width: 24px;
        height: 30px;
        background: url(../images/main/logo2.svg) no-repeat center center / contain;
    }
    .family .list .tit p span{
        font-size: var(--font-size-default);
        line-height: var(--line-height-default);
    }
    .family .list .tit .icon_list{
        padding: 51px 0 0 0;
    }   
    .family .list .tit .icon_list ul{
        position: relative;
        display: flex;
        align-items: flex-end;
        gap: 34px;
    }
    .family .list .icon_list p .mobile{
        display: none;
    }
    .family .swiper-slide{
        width: calc(33.333% - 22px);
    }
    .family .list .tit .icon_list p{
        padding: 35px 0 0 0;
        color: var(--font-color-default);
    }
    .family .list .tit .more{
        border: 1px solid var(--color-main);
        border-radius: 50px;
        width: 220px;
        padding: 10px 0 10px 0;
        margin: 77px 0 0 180px;
    }

    .family .list .tit .more:hover{
        background-color: var(--color-main);
        color: var(--color-white);
    }

    @media screen and (max-width:1024px){
                
                .family .list .photo{
                    display: none;
                }
                .family .list{
                    display: block;
                }
                .family .list .tit{
                    text-align: center;
                }
                .family .list .tit h2 span::after{
                        right: 223px;
                        top: 11px;
                        width: 54px;
                        height: 26px;
                }
                .family .list .tit h2 .pc {
                    font-size: 32px;
                }
                
                .family .list .tit p span {
                    font-size: var(--font-size-default);
                    line-height: var(--line-height-default);
                    padding: 16px 0 0 0;
                }
                .family .list .tit .icon_list ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .family .list .tit .icon {
                    display: flex;
                }
                .family .list .tit .more{
                    width: 220px;
                    padding: 10px 0 10px 0;
                    margin: 77px auto 0;
                }
                .family .list .tit .more a{
                    padding: 0 0 0 8px;
                }

    }
    @media screen and (max-width:768px){
                .family .list .tit .icon_list ul {
                        gap: 12px;
                        justify-content: center;
                        align-items: flex-end;
                }     
                .family .list .icon_list p span {
                    font-weight: 700;
                    color: var(--font-color-default);
                }
                .family .list .icon_list p .mobile {
                    display: block;
                    font-size: 17px;
                    font-weight: var(--font-weight-default);
                    padding: 5px 0 0 0;
                }
                .family .list .photo{
                        display: none;
                }
                .family .list .tit h2 span::after {
                        right: 109px;
                        top: 13px;
                        width: 54px;
                        height: 25px;
                }
    }
    @media screen and (max-width:425px){
                .family .list .tit h2 .pc {
                    display: none;
                }
                .family .list .tit h2 .mobile{
                        display: block;
                        font-family: "Cafe24Surround";
                        color: var(--font-color-tit);
                        font-size: var(--font-size-subtit);
                }
                .family .list .tit h2 span::after {
                        right: 56px;
                        top: 7px;
                        width: 54px;
                        height: 22px;
                }
                .family .list .box{
                    padding: 0 17px ;
                }
                .family .list .tit .icon_list{
                    position: relative;
                }
                .family .list .tit .icon_list img{
                        width: 56px;
                        height: 60px;
                }
                .family .icon_list ul li{
                        position: relative;
                        display: flex;
                        border: 1px solid rgba(204, 204, 204, 0.8);
                        border-radius: 10px;
                        justify-content: center;
                        padding: 26px 0  28px 0;
                }
                .family .list .tit .icon_list .shop,
                .family .list .tit .icon_list .loc,
                .family .list .tit .icon_list .money{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding:0 20px 0 20px; 
                    white-space: nowrap;

                    overflow: hidden;

                    text-overflow: ellipsis;
                }
                .family .list .tit .icon_list p{
                    color: var(--font-color-default);
                }
                .family .list .tit .more{
                    width: 195px;
                }
                
    }
    @media screen and (max-width:375px){
                .family .list .tit h2 span::after {
                        right: 31px;
                        top: 6px;
                        width: 54px;
                        height: 21px;
                }
                .family .list .tit .more{
                    width: 157px;
                }
                .family .list .tit .more a{
                    padding: 0 0 0 2px;
                }

    }
    @media screen and (max-width:320px){
                .family .list .tit h2 span::after {
                    right: 5px;
                    top: 7px;
                    width: 54px;
                    height: 19px;
                }

                .family .list .tit .more{
                    width: 157px;
                    margin: 54px 0 0 67px;
                }
                .family .list .tit .more a{
                    padding: 0 0 0 2px;
                    
                }

    }
    .banner{
        padding: 158px 0 196px 0;
    }
    .banner .swiper-slide .app{
        position: relative;
        background-color: var(--color-sub1);
        border-radius: 20px;
        height: 313px;
    }
    .banner .swiper-slide .app a{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .banner .swiper-slide .app a .icon{
        position: absolute;
        left: 15px;
        top: 50px;
        background: url(../images/main/app.png) no-repeat center center;
        width: 34%;
        height: 100%;
    }
    .banner .swiper-slide .app a .txt{
        padding: 51px 51px 0 0;
    }
    .banner .swiper-slide .app a h2{
        font-size: 32px;
        font-weight: var(--font-weight-bold);
        color: var(--font-color-tit);
        line-height: var(--line-height-default);
    }
    .banner .swiper-slide .app a span{
        font-size: 20px;
        font-weight: var(--font-weight-default);
        line-height: var(--line-height-default);
        /* padding: 72px 0 0 100px; */
    }
    .banner .swiper-slide .app .more{
        position: absolute;
        top: 185px;
        right: 68px;
        display: block;
        border: 1px solid var(--color-white);
        background-color: var(--color-white);
        border-radius: 50px;
        width: 38%;
        height: 51px;
        text-align: center;
        padding: 11px 0;
        white-space: nowrap;
    }

    .banner .swiper-slide .one{
        position: relative;
        z-index: 1;
        background-color: rgba(218, 92, 103, 0.4);
        border-radius: 20px;
        height: 313px;
    }
    .banner .swiper-slide .one a{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .banner .swiper-slide .one a .icon{
        position: absolute;
        left: 21px;
        top: 169px;
        background: url(../images/main/one.png) no-repeat center bottom;
        width: 42%;
        height: 42%;
    }
    .banner .swiper-slide .one a .txt{
        padding: 51px 51px 0 0;
    }
    .banner .swiper-slide .one a h2{
        font-size: clamp(24px, 3.2vw, 32px);
        font-weight: var(--font-weight-bold);
        color: var(--font-color-tit);
        line-height: var(--line-height-default);
    }
    .banner .swiper-slide .one a span{
        font-size: 20px;
        font-weight: var(--font-weight-default);
        line-height: var(--line-height-default);
        /* padding: 72px 0 0 100px; */
    }
    .banner .swiper-slide .one .more{
        position: absolute;
        top: 185px;
        right: 68px;
        display: block;
        border: 1px solid var(--color-white);
        background-color: var(--color-white);
        border-radius: 50px;
        width: 30%;
        height: 52px;
        padding: 10px 0 ;
        text-align: center;
        white-space: nowrap;
    }
    @media screen and (max-width:1024px){
        .banner .swiper-slide .app .more {
            width: 46%;
            height: 51px;
            padding: 11px 0;
            margin: 42px 36px 0 0;
        }   
        .banner .swiper-slide .one a .txt {
            padding: 33px 15px 0 0; 
        }
        .banner .swiper-slide .app a .icon {
            position: absolute;
            left: 52px;
            top: 50px;
            background: url(../images/main/app.png) no-repeat center bottom;
            width: 29%;
            height: calc(100% - 50px);
            background-size: 100%;
        }
        .banner .swiper-slide .one a h2 {
            margin: 0 20px 0 0;
        }
        .banner .swiper-slide .one a .txt {
            padding: 33px 15px 0 0; 
        }
        .banner .swiper-slide .one .more {
            width: 35%;
            height: 46px;
            padding: 7px 0;
            margin: 42px 41px 0 0;
        }
        .banner .swiper-slide .one a .icon {
            position: absolute;
            left: 52px;
            top: 37px;
            background: url(../images/main/one.png) no-repeat center bottom;
            width: 51%;
            height: calc(100% - 50px);
            background-size: 100%;
        }
    }
@media screen and (max-width:768px){
            .banner .swiper-slide .app .more {
                width: 32%;
                height: 51px;
                padding: 11px 53px;
                margin: 61px 100px 54px 0;
        }
            .banner .swiper-slide .one .more {
                width: 26%;
                height: 52px;
            }
            .banner .swiper-slide .app a h2 {
                font-size: 24px;
                
        }  
}      
    @media screen and (max-width:425px){
        .banner .swiper-slide .app a h2,
        .banner .swiper-slide .one a h2{
            font-size: var(--font-size-tit);
        }
        .banner .swiper-slide .app a span,
        .banner .swiper-slide .one a span{
            font-size: 17px;
        }
        .banner .swiper-slide .app a .icon{
            position: absolute;
            left: 15px;
            top: 50px;
            background: url(../images/main/app.png) no-repeat center bottom;
            width: 34%;
            height: calc(100% - 50px);
            background-size: 100%;
    }
        .banner .swiper-slide .app .more {
            width: 41%;
            height: 51px;
            padding: 11px 0;
            margin: 42px 69px 38px 0;
    }
        .banner .swiper-slide .one .more {
            width: 37%;
            height: 48px;
            padding: 11px 0;
            margin: 42px 53px 38px 0;
        }
        .banner .swiper-slide .one a .icon{
            position: absolute;
            left: 24px;
            top: 27px;
            background: url(../images/main/one.png) no-repeat center bottom;
            width: 51%;
            height: calc(100% - 50px);
            background-size: 100%;
        }
    }
    @media screen and (max-width:375px){
        .banner .swiper-slide .app .more {
            width: 46%;
            height: 51px;
            margin: 42px 36px 38px 0;
        }
        .banner .swiper-slide .app a .icon {
            left: 11px;
            width: 38%;
        }
        .banner .swiper-slide .one a .txt {
            padding: 33px 15px 0 0; 
        }
        .banner .swiper-slide .one .more {
            width: 45%;
            height: 46px;
            padding: 9px 0;
            margin: 42px 41px 38px 0;
        }
        .banner .swiper-slide .one a .icon {
            left: 24px;
            top: 34px;
            width: 56%;
        }
    }
    @media screen and (max-width:320px){
        .banner .swiper-slide .app,
        .banner .swiper-slide .one   {
            height: 247px;
        }
        .banner .swiper-slide .app a h2,
        .banner .swiper-slide .one a h2{
            font-size: var(--font-size-default);
        }
        .banner .swiper-slide .app .more{
            width: 58%;
            height: 44px;
            padding: 8px 0;
            margin: 33px 14px 0px 0px;
        }
        .banner .swiper-slide .app a .icon{
            left: 21px;
            top: 48px;
            width: 30%;
        }
        .banner .swiper-slide .one .more{
            width: 46%;
            height: 44px;
            padding: 9px 0;
            margin: 26px 15px 0 0;
        }
        .banner .swiper-slide .one a .icon{
            left: 15px;
            top: 40px;
            width: 56%;
        }
        
    }
.brand{
    position: relative;
    background-color: var(--color-sub1);
    padding: 123px 0;
}
.brand .wrapper{
    position: relative;
}
.brand .list ul{
    display: flex;
    justify-content: space-between;
}
.brand .list ul li{
    width: calc(33.33% - clamp(10px, 1.4vw, 18px));
    border: 1px solid var(--color-white);
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--color-white);
    position: relative;
}
.brand .list ul li .inner_wrap{
    padding: 50%;
}
.brand .list ul li .inner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
}
.brand .list ul li .inner h2{
    display: none;
}
.brand .list ul li .inner .tit{
    max-width: 70%;
}
.brand .list ul li .inner .tit img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.brand .list ul li .icon{
    overflow: hidden;
    text-align: center;
    height: 33%;
    margin-bottom: 5%;
}
.brand .list ul li .icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    vertical-align: top;
}
.brand .list ul li .txt{
    text-align: center;
}
.brand .list ul li .txt{
    color: var(--font-color-default);
    line-height: var(--line-height-tit);
    white-space: nowrap;
}
.brand .list ul li .txt strong{
    display: block;
    font-weight: var(--font-weight-bold);
    color: var(--font-color-tit);
}
@media screen and (max-width:768px) {
                .brand{
                    padding: 28px 0;
                }
                .brand .list ul{
                    flex-direction: column;
                    gap: 16px 0;
                }
                .brand .list ul li{
                    width: auto;
                    box-shadow: none;
                    border-radius: 10px;
                }
                .brand .list ul li .inner_wrap{
                    padding: 0;
                }
                .brand .list ul li .inner{
                    position: relative;
                    left: auto;
                    top: auto;
                    transform: translate(0, 0);
                    height: auto;
                    width: 100%;
                    padding: 10px 0 16px 0;
                }
                .brand .list ul li .inner h2{
                    display: block;
                    font-family: 'Cafe24Surround';
                    font-size: 24px;
                    color: var(--color-main);
                }
                .brand .list ul li .inner .tit{
                    display: none;
                }
                .brand .list ul li .icon{
                    height: 56px;
                    margin: 10px 0;
                }
}

.commun .wrapper{
    position: relative;
}
.commun .tit{
    position: relative;
    padding: 154px 0 0 0;
}
.commun .tit h2{
    display: inline-block;
    font-family: "Cafe24Surround";
    color: var(--font-color-tit);
    font-size: var(--font-size-subtit);
    margin: 0 0 92px 0;
}
.commun .tit h2 span::after{
    content: "";
    position: absolute;
    left: 269px;
    top: 163px;
    width: 24px;
    height: 30px;
    background: url(../images/main/logo2.svg) no-repeat center center / contain;
}
.commun .more{
    position: absolute;
    top: 217px;
    right: 0;
}
.commun .more a{
    color: var(--color-main);
    border: 1px solid var(--color-main);
    border-radius: 50px;
    width: 112px;
    height: 41px;
    padding: 3px 26px 3px 26px
}
.commun .list{
    position: relative;
}
.commun .list ul li{
    border-top: 1px solid rgba(204, 204, 204, 1);
}
.commun .list ul li:last-child{
    border-bottom: 1px solid rgba(204, 204, 204, 1);
}
.commun .list a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.commun .list ul li.notice a strong{
    color: var(--color-main);
}
.commun .list ul li a strong{
    color: var(--color-sub2);
}
.commun .list ul li a strong{
    border: 1px solid rgba(204, 204, 204, 1);
    border-radius: 50px;
    padding: 4px 23px 3px 23px
}
.commun .list ul li a strong{
    font-size: 17px;
}
.commun .list ul li a h3{
    font-size: 20px;
    padding: 32px 0 30px 0;
    width: calc(100% - 254px);
}
.commun .list ul li a span{
    font-size: 17px;
}
@media screen and (max-width:1024px){
    .commun .tit h2{
        margin: 0 0 92px 0;
    }
    .commun .tit h2 span::after {
        left: 219px;
        top: 159px;
        width: 21px;
    }
    .commun .more{
        top: 216px;
        right: 0;
    }
    
}
@media screen and (max-width:768px){
    .commun .tit h2{
        margin: 0 0 90px 0;
    }
    .commun .tit h2 span::after {
        left: 168px;
        top: 154px;
        width: 16px;
    }
    .commun .more{
        position: absolute;
        top: 217px;
        right: 0;
    }
    .commun .list ul li a strong{
        display: none;
    }
    .commun .list ul li a h3{
        font-size: 17px;
    }
}

@media screen and (max-width:425px){
    .commun .tit h2 span::after{
        left: 283px;
        top: 155px;
        width: 16px;
}
    .commun .tit h2{
        display: flex;
        justify-content: center;
        margin: 0 0 59px 0;
    }
    .commun .list ul li a h3{
        width: calc(100% - 159px);
        white-space: nowrap;

        overflow: hidden;

        text-overflow: ellipsis;
    }
    .commun .more{
        position: relative;
        top:auto;
        right: auto;
        display: flex;
        justify-content: center;
        margin: 39px 0 0 0;
        
    }
    .commun .more a{
        padding: 4px 26px 0px 29px;
    }
}
@media screen and (max-width:375px){
    .commun .tit h2{
        font-size: var(--font-size-tit);
        /* text-align: center; */
    }
    .commun .more{
        
    }
}
.footer{
    background-color: var(--color-main);
    margin: 231px 0 0 0;
    height: 315px;
}
.footer .wrapper{
    position: relative;
}   
.footer .white{
    padding: 96px 0 0 0;
}
.footer .f_info{
    font-size: 17px;
    color: var(--color-white);
    border-top: 1px solid var(--color-white);
    padding: 30px 0 0 0;
    gap: 17px;
}
.footer .f_info span{
    margin: 0 17px 13px 0;
    display: inline-block;
}
.footer .copy{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.8);
}
.footer .f_logo{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 92px;
}
.footer .f_logo img{
    width: 100%;
}
@media screen and (max-width:768px){
    .footer .f_logo{
       display: none;
    }
}
@media screen and (max-width:425px){
    .footer{
        height: 480px;
    }
    .footer .f_logo{
       display: none;
    }
    .footer .copy p{
        padding: 0 0 30px 0;
    }
    
}
