/*
    common.css (layout.css 라고도 함)
    홈페이지 전체에 적용되는 공통스타일
    프로젝트마다 변경됨 - 이 css에 있는 속성을 수정하면 프로젝트 전체가 바뀜
*/
body, html{
    font-family: "paperozi", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #1d1d1d;
    line-height: 1.5;/* 배수(글자크기의 몇배) */
    word-break: keep-all;/* 단어 단위로 줄바꿈 */
    word-wrap: break-word;/* 단어가 제한된 넓이보다 길면 강제 줄바꿈 */
}
.wrapper{
    width: 1440px;
    margin: 0 auto; /*가운데*/
}
#wrap{
    position: relative;/* header 정렬의 기준 */
}
@media screen and (max-width:1500px){ /* 1440 + 30 + 30 */
    .wrapper{
        width: auto;
        margin: 0 30px;
    }
}
@media screen and (max-width:768px){
    .wrapper{
        margin: 0 16px;
    }
}
/* html 표준때문에 입력해야하는 태그이지만 홈페이지에 나오지 않는
   태그에 주는 클래스 */
.sr-only, .skip, .blind {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
