@import url(default.css);
@import url(common.css);
@import url(fonts.css);

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 100px;
    width: 100%;
    color: #1d1d1d;
}
.header .header_group{
    position: relative;
    display: flex;
    
    align-items: center;
    
}
.header .header_group2{
    display: flex;
}
.header .logo a{
    display: block;
    width: 77px;
    height: 33px;
    margin-right: 25px;
}
.header .gnb .gnb_open{
    display: none;
    
}
.header .gnb .gnb_wrap ul{
    display: flex;
    font-size: 20px;
    font-weight: 400;
    color: #1d1d1d;
}
.header .gnb .gnb_wrap ul li a{
    display: block;
    line-height: 100px;
    padding: 0 21px 0 21px;
}
.header .search{
    display: flex;
    width: 321px;
    height: 44px;
    border: 1px solid #D52B1E;
    border-radius: 50px;
    padding: 0 25px;
    align-items: center;
}
.header .search .txt{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #D52B1E;
    border: 0;
    outline: 0;
}
.header .search .txt::placeholder{
    color: #D52B1E;
}
.header .search .btn{
    border: 0;
    outline: 0;
    width: 27px;
    height: 27px;
    background: url(../images/main/search.svg) no-repeat center center / contain;
    padding: 0 0 0 19px;
}
.header .util{
    display: flex;
    padding: 0 0 0 30px;
    gap: 15px;
    align-items: center;
}
.header .util .notif{
    width: 27px;
    height: 27px;
    background: url(../images/main/notif.svg) no-repeat center center;
}
.header .util .mypage{
    width: 27px;
    height: 27px;
    background: url(../images/main/mypage.svg) no-repeat center center;
}
.header .util .calendar{
    width: 27px;
    height: 27px;
    background: url(../images/main/calendar.svg) no-repeat center center;
    
}
@media screen and (max-width:1437px){
    .header .gnb .gnb_wrap ul{
        font-size: 17px;
    }
    .header .header_group{
        width: 100%;
        justify-content: space-between;
    }
}/*@media*/
@media screen and (max-width:1346px){
    .header .header_group{
        width: 100%;
        justify-content: space-between;
    }
    
    .header .header_group2{
        display: none;
    }
    .header .gnb .gnb_open{
        display: block;
    }
    .header .gnb .gnb_wrap ul{
        display: none;
        width: 30px;
        height: 30px;
    }
    .header .search,
    .header .search .btn,
    .header .util{
     display: none;
    }

}/*@media*/
@media screen and (max-width:768px){
    .header .header_group{
        width: 100%;
        justify-content: space-between;
    }
    .header{
        height: 56px;
    }
    .header .gnb .gnb_wrap ul{
        display: none;
        width: 30px;
        height: 30px;
    }
    .header .logo a{
        width: 43px;
        height: 18px;
        margin-right: 0;
    }
    .header .gnb .gnb_open{
        display: block;
    }
    .header .search,
    .header .search .btn,
    .header .util{
     display: none;
    }
    
}/*@media*/
.visual{
    position: relative;
}
.visual .swiper-slide{
    display: flex;
    height: 742px;
    background:url(../images/main/visual_bg01.jpg) no-repeat center / cover ;
    color: #fff;
    flex-direction: column;
    justify-content: flex-end;
}
.visual .swiper-slide.pop2{
    background-image: url(../images/main/visual_bg02.jpg);
}
.visual .swiper-slide.pop3{
    background-image: url(../images/main/visual_bg03.jpg);
}
.visual .swiper-slide.pop4{
    background-image: url(../images/main/visual_bg04.jpg);
}
.visual .swiper-slide h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    
}
.visual .swiper-slide p{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    padding: 34px 0 142px 0;
}
@media screen and (max-width:768px){
    .visual .swiper-slide{
        height: 610px;
    }
    .visual .swiper-slide h2{
        font-size: 36px;
    }
    .visual .swiper-slide p{
        font-size: 20px;
        padding: 18px 0 181px 0;
    }
}/*@media*/
.time h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 144px 0 52px 0;
}
.time h2 strong{
    color: #D52B1E;
}
.time .swiper{
    display: flex;
}
.time .swiper-slide{
    width: 342px;
}
.time .swiper-slide a span{
    width: 20px;
    height: 20px;
    margin-right: 9px;
    /* padding: 0 43px 0 0; */
    background: url(../images/main/people.svg) no-repeat center center;
}
.time .swiper-slide a{
    display: block;
}
.time .swiper-slide a .photo{
    position: relative;
    overflow: hidden;
    height:353px;
}
.time .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.time .swiper-slide a .photo strong{
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(29, 29, 29, 0.55);
    padding: 3px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
}
.time .limit{
    display: flex;
    border: 1px solid #ccc;
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px 0;
    justify-content: center;
}
.time .limit span{
    position: relative;
    font-size: 17px;
    padding-left: 30px;
}
.time .limit strong{
    color: #D52B1E;
}
.time .limit span::before{
    content: ""; 
    position: absolute;
    left: -1px; /*content 있으면 필수*/
    top: 1px; /*content 있으면 필수*/
    width: 25px;
    height: 25px;
    background: url(../images/main/clock.svg) no-repeat center center ;
}
.time .swiper-slide h3{
    font-weight: 700;
    padding: 26px 0 5px 0;
}
.time .swiper-slide p{
    font-size: 14px;
    padding: 0 0 18px 0;
}
.time .swiper-slide .price{
    position: relative;
}
.time .swiper-slide .price .sale{
    display: flex;
    gap: 11px;
}
.time .swiper-slide .price span{
    font-size: 14px;
    color: #ccc;
    text-decoration: line-through;
}
.time .swiper-slide .price strong{
    font-size: 14px;
    color: #D52B1E;
}

@media screen and (max-width:768px){

    .time h2{
        font-size: 32px;
        margin: 84px 0 18px 0;
    }
    .time .swiper-slide a .photo{
        height:291px;
    }
    .time .swiper-slide a .photo img{
        width: 100%;
        height: auto;
    }
    .time .limit{
        margin-top: 9px;
        padding: 8px 0;
    }
    .time .swiper-slide h3{
        padding: 10px 0 5px 0;
    }
    .time .swiper-slide p{
        padding: 0 0 17px 0;
    }
}/*@media*/

.recom h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 144px 0 39px 0;
}
.recom h2 strong{
    color: #D52B1E;
}
.recom .list{
    position: relative;
}
.recom .list .swiper-slide a{
    position: relative;
    display: block;
}
.recom .list .swiper-slide a .photo{
    overflow: hidden;
    height:440px;
    border-radius: 5px;
}
.recom .list .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}
.recom .list .swiper-slide a .txt{
    position: absolute;
    left: 40px;
    bottom: 26px;
    color: #fff;
}
.recom .list .swiper-slide a .txt h3{
    font-size: 20px;
    padding: 0 0 10px 0;
}
.recom .list .swiper-slide a .txt strong{
    font-size: 17px;
    font-weight: 700;
    line-height: 1.5;
    padding: 0 0 11px 0;
}
.recom .next{
    transform: rotate(180deg);
}
.recom .next{
    position: absolute;
    z-index: 10;
    right: -22px;
    top: 190px;
}
.recom .prev{
    position: absolute;
    z-index: 10;
    left: -21px;
    top: 190px;
}
.recom .next,
.recom .prev{
    display: block;
    width: 45px;
    height: 45px;
    border-radius:50%;
    background: url(../images/main/arrow.svg) no-repeat center center;
    background-color: #D52B1E;
}
@media screen and (max-width:768px){
    .recom h2,
    .recom h2 strong{
        font-size: 32px;
        margin: 84px 0 32px 0;
    }
    
    .recom .swiper-slide a .photo .txt h3{
        font-size: 17px;
        padding: 0 0 4px 0;
    }
    .recom .swiper-slide a .photo .txt strong{
        padding: 0 0 2px 0;
    }
    .recom .next,
    .recom .prev{
        display: none;
    }
}
.advert{
    padding: 93px 0 0 0 ;
}

.advert a{
    position: relative;
    display: block;
}
.advert a .photo{
    position: relative;
    overflow: hidden;
    height:159px;
    border-radius: 10px;
   
}
.advert a .photo::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(213, 43, 30, 1),rgba(213, 43, 30, 1),rgba(213, 43, 30, 1) ,rgba(213, 43, 30, 0),rgba(213, 43, 30, 0));
}
.advert a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}
.advert a .txt{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    color: #fff;
    padding: 30px 0 0 104px;
}
.advert a .txt h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
}
.advert a .txt p{
    font-size: 32px;
    font-weight: 400;
    line-height: 1.3;
}
@media screen and (max-width:768px){
    .advert a .txt{
        padding: 59px 0 0 18px;
    }
    .advert a .txt p{
        display: none;
    }
    .advert a .txt h2{
        font-size: 32px;
    }
}

.best h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    padding: 156px 0 63px 0;
}
.best h2 strong{
    color: #D52B1E;
}
.best .list .swiper{
    padding: 63px 0;
}
.best .list .swiper-slide{
    transition: transform 0.3s;
}
.best .list .swiper-slide .photo{
    overflow: hidden;
    border-radius: 50%;
}
.best .list .swiper-slide .photo img{
    display: block; /* 없으니까 사진이 밑에 잘렸는데 들어가니까 사진이 채워졌다,,*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.best .list .swiper-slide.swiper-slide-active{
    transform: scale3d(1.3, 1.3, 1);
    z-index: 2;
}
.best .list .swiper-slide.swiper-slide-active .photo{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.best .list .swiper-slide a .txt{
    text-align: center;
}
.best .list .swiper-slide a .txt h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    padding: 15px 0 0 0;
}
.best .list .swiper-slide a .txt h3 span{
    background-image: linear-gradient(transparent calc(100% - 1px), #1d1d1d 10px); /* 30px <- 이 값을 수정하여 밑줄 두께 조절 */
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position: left bottom;
    transition: background-size 0.6s ease;
}
.best .list .swiper-slide a:hover .txt h3 span{
    background-size: 100% 100%;
}
.best .list .swiper-slide a .txt p{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #3d3d3d;
}
@media screen and (max-width:768px){
    .best .list{
        width: 100%;
    }
    .best .list .swiper-slide .photo{
        width: 324px;
        height: 324px;
    }
    .best .list .swiper-slide .photo img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .best .list .swiper-slide.swiper-slide-active{
        display: none;
    }
    .best .list .swiper{
        padding: 0;
    }
    .best .list .swiper-slide a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.emotion h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    padding: 146px 0 60px 0;
}
.emotion h2 strong{
    color: #D52B1E;
}
.emotion .list ul{
    display: flex;
    gap: 16px;
}
.emotion .list ul li{
    flex: 1 1 0%;
    transition: 0.3s;
    overflow: hidden;
}
.emotion .list ul li.active{
    flex: 3 1 0%;
}
.emotion .list ul li a{
    display: flex;
    flex-direction: column;
    height: 457px;
    background: url(../images/main/emotion01.jpg) no-repeat center center / cover;
    color: #fff;
    padding: 40px 0 0 40px;
}
.emotion .list ul .emotion02 a{
    background-image: url(../images/main/emotion02.jpg);    
}
.emotion .list ul .emotion03 a{
    background-image: url(../images/main/emotion03.jpg);    
}
.emotion .list ul .emotion04 a{
    background-image: url(../images/main/emotion04.jpg);    
}
.emotion .list ul li a h3{
    display: none;
}
.emotion .list ul li.active a h3{
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
}
.emotion .list ul li a p{
    display: none;
}
.emotion .list ul li.active a p{
    display: block; 
}
@media screen and (max-width:768px){
    .emotion h2{
        font-size: 32px;
        padding: 91px 0 99px 0;
    }
    .emotion .list{
        overflow-y: hidden; /*사진 영역에만 가로스크롤 생기는 방법*/
        overflow-x: auto;
    }
    .emotion .list ul{
        width: 1056px;
    }
   
    .emotion .list ul li{
        width: 252px;
    }
    .emotion .list ul li a h3{
        display: block;
        font-size: 20px;
    }
    .emotion .list ul li.active a h3{
        font-size: 20px;
        font-weight: 400;
    }
    .emotion .list ul li.active a p{
        display: none;
    }
    .emotion .list ul li.active{
        flex: 1 1 0%;
    }


}/*@media*/

/* .banner .wrapper{
    position: relative;
}
.banner .banner02{
    display: flex;
    gap: 24px;
    padding: 144px 0 0 0;
}
.banner  a{
    position: relative;
    display: block;
}
.banner .reser{
    width: calc(50% - 12px);
    height: 159px;
    background-color: #BBDEFA;
    border-radius: 10px;
}
.banner .reser a{
    padding: 25px 0 0 87px; 
}
.banner .reser a .icon{
    position: absolute;
    right: 110px;
    top: 19px;
    z-index: 1;
    background: url(../images/main/air.png) no-repeat center center;
    width: 161px;
    height: 100%;
}
.banner .reser h2{
    font-size: 24px;
    font-weight: 700;
    color: #1d1d1d;
    padding: 0 0 20px 0;
}
.banner .reser a .more::after{
    content: "";
    position: absolute;
    left: 151px;
    bottom: 8px;
    z-index: 1;
    width: 10px;
    height: 10px;
    background: url(../images/main/arrow_b.svg) no-repeat center center;

}
.banner .luxury{
    width: calc(50% - 12px);
    height: 159px;
}
.banner .luxury a{
    display: block;
    height: 100%;
    padding: 25px 0 0 80px;
}
.banner .luxury a .photo{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.banner .luxury a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}
.banner .luxury a .photo::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(15, 23, 42, 1),rgba(15, 23, 42, 1),rgba(15, 23, 42, 1) ,rgba(15, 23, 42, 0),rgba(15, 23, 42, 0));
}
.banner .luxury a h2{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    padding: 0 0 20px 0;
}
.banner .luxury a span{
    color: #fff;
}
.banner .luxury a .more::after{
    content: "";
    position: absolute;
    left: 143px;
    bottom: 34px;
    z-index: 1;
    background: url(../images/main/arrow_w.svg) no-repeat center center;
    width: 10px;
    height: 10px;
} */
.banner .wrapper{
    position: relative;
}
.banner .banner02{
    padding: 144px 0 179px 0;
}
.banner .swiper-slide  .reser{
    background-color: #BBDEFA;
    height: 159px;
    border-radius: 10px;
    padding: 25px 0 0 87px;
}
.banner .swiper-slide .reser a .icon{
    position: absolute;
    right: 77px;
    top: 2px;
    z-index: 1;
    background: url(../images/main/air.png) no-repeat center center;
    width: 27%;
    height: 100%;
}
.banner .swiper-slide .reser h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    padding: 0 0 20px 0;
}
.banner .swiper-slide  .reser a .more::after{
    content: "";
    position: absolute;
    left: 151px;
    bottom: 34px;
    z-index: 1;
    width: 10px;
    height: 10px;
    background: url(../images/main/arrow_b.svg) no-repeat center center;
}
.banner .swiper-slide .luxury{
    height: 159px;
}
.banner .swiper-slide .luxury a{
    display: block;
    height: 100%;
    padding: 25px 0 0 80px;
}
.banner .swiper-slide .luxury a .photo{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.banner .swiper-slide .luxury a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}
.banner .swiper-slide .luxury a .photo::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(15, 23, 42, 1),rgba(15, 23, 42, 1),rgba(15, 23, 42, 1) ,rgba(15, 23, 42, 0),rgba(15, 23, 42, 0));
}
.banner .swiper-slide .luxury a h2{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    padding: 0 0 20px 0;
}
.banner .swiper-slide .luxury a span{
    color: #fff;
}
.banner .swiper-slide .luxury a .more::after{
    content: "";
    position: absolute;
    left: 143px;
    bottom: 34px;
    z-index: 1;
    background: url(../images/main/arrow_w.svg) no-repeat center center;
    width: 10px;
    height: 10px;
}
.banner .paging{
    display: none;
}
@media screen and (max-width:1300px){
    .banner .swiper-slide .reser a .icon{
        display: none;
    }
}
@media screen and (max-width:769px){
    .banner{
        position: relative;
    }
    .banner .swiper-slide  .reser{
        background-color: #BBDEFA;
        height: 240px;
        padding: 34px 0 0 39px;
    }
    .banner .swiper-slide .reser a .icon{
        display: block;
        left: 331px;
        top: 11px;
        width: 50%; 
        height: 100%;
    }
    .banner .swiper-slide  .reser a .more::after{
        left: 104px;
        top: 102px;
        width: 10px;
        height: 10px;
        background: url(../images/main/arrow_b.svg) no-repeat center center;
    }
    .banner .swiper-slide .reser h2{
        font-size: 20px;
        padding: 0 0 8px 0;
    }
    .banner .swiper-slide .luxury{
        height: 240px;
    }
    .banner .swiper-slide .luxury a{
        height: 100%;
        padding: 35px 0 0 33px;
    }
    .banner .swiper-slide .luxury a h2{
        font-size: 20px;
        padding: 0 0 8px 0;
    }
    .banner .swiper-slide .luxury a .more::after{
        left: 98px;
        top: 103px;;
        z-index: 1;
        width: 10px;
        height: 10px;
    }
    .banner .paging{
        position: absolute;
        left: 0;
        bottom: 6px;
        z-index: 1;
        width: 100%;
        height: 8px;
        display: flex;
        justify-content: center;
        gap: 0 6px;
    }
    .banner .paging .swiper-pagination-bullet{
        border: 1px solid #fff;
        background: transparent;
        margin: 0;
        opacity: 1;
        width: 8px;
        height: 8px;
    }
    .banner .paging .swiper-pagination-bullet.swiper-pagination-bullet-active{
        background-color: #fff;
    }
}/*@media*/
@media screen and (max-width:426px){
    .banner .swiper-slide .reser a .icon{
        display: block;
        left: 147px;
        top: 32px;
        width: 50%; 
        height: 100%;
    }
}
@media screen and (max-width:321px){
    .banner .swiper-slide .reser a .icon{
        display: block;
        left: 91px;
        top: 32px;
        width: 59%;; 
        height: 100%;
    }
}
.premium{
    position: relative;
    background-color: #6F5241;
    color: #fff;
    padding: 73px 40px 71px 40px;
}
.premium .tit{
    position: absolute;
    /* left: calc(40.27% + 70px); */
    left: 43.96%;
    top: 0;
}
.premium .tit h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
    padding: 130px 0 0 0;
}
.premium .tit p{
    padding: 45px 0 115px 0;
}
.premium .list .swiper-wrapper{
    align-items: flex-end; /* 아래정렬 */
}    
.premium .list .swiper-slide{
    width: 18.58%; /* 342 / (1920-40-40  = 1840) * 100 */
}
.premium .list .swiper-slide.swiper-slide-active{
    width: 40.27%; /* 741 /(1920-40-40 = 1840) * 100 */
}
.premium .list .swiper-slide .photo{
    overflow: hidden;
}
.premium .list .swiper-slide .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.premium .list .swiper-slide h3{
    position: absolute;
    left: 20px;
    bottom: 12px;
}
.premium .paging{
    display: none;
}
@media screen and (max-width:1544px){
    .premium .tit h2{
        font-size: 40px;
        padding: 100px 0 0 0;
    }
    .premium .tit p{
        padding: 30px 0 80px 0;
    }
}
@media screen and (max-width:1166px){
    .premium .tit h2{
        font-size: 32px;
        padding: 100px 0 0 0;
    }
    .premium .tit p{
        padding: 20px 0 50px 0;
    }
}
@media screen and (max-width:1024px) {
    .premium .list .swiper-slide.swiper-slide-active{
        width: 342px; /* 741 /(1920-40-40 = 1840) * 100 */
    }
    .premium .list .swiper-slide{
        width: 342px; /* 342 / (1920-40-40  = 1840) * 100 */
    }
    .premium .tit{
        position: relative;
        left: auto;
        top: auto;
    }
    .premium .tit h2{
        font-size: 32px;
        padding: 20px 0 0 0;
    }
    
}
@media screen and (max-width:768px){
    .premium{
        height: 662px;
        padding: 69px 30px 0 30px;
    }
    .premium .tit h2{
        padding: 0 0 15px 0; 
    }
    .premium .tit p{
        padding: 0 0 80px 0;
    }
    .premium .tit p br{
        display: none;
    }
    .premium .paging {
        position: absolute;
        left: 0;
        bottom: 18px;
        z-index: 1;
        width: 100%;
        height: 8px;
        display: flex;
        justify-content: center;
        gap: 0 6px
    }    
    .premium .paging .swiper-pagination-bullet {
        border: 1px solid #fff;
        background: transparent;
        margin: 0;
        z-index: 1;
        opacity: 1;
        width: 10px;
        height: 10px;
    }
    .premium .paging .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: #fff;

    }
}    

.review .tt h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    padding: 165px 0 148px 0;
}
.review .tt strong{
    color: #D52B1E;
}
.review .list{
    position: relative;
    padding: 0 0 315px 0;
}
.review .list .more a{
    content: "";
    position: absolute;
    right: 13px;
    top: -130px;
    width: 28px;
    height: 27px;
    background: url(../images/main/more.svg) no-repeat center center;
}
/* .review .list .swiper-grid-column>.swiper-wrapper{
    flex-direction: row;
} */
.review .list .swiper-slide a{
    display: flex;
    
}
.review .list .swiper-slide a .photo{
    width: 100%;
    height: 311px;
    border-radius: 10px;
    overflow: hidden;
}
.review .list .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}
.review .list .swiper-slide a .tit{
    position: relative;
    width: 100%;
    padding: 0 0 0 20px;
}
.review .list .swiper-slide a .tit .time{
    display: flex;
    gap: 40px;
}
.review .list .swiper-slide a .tit .time span{
    color: rgba(61, 61, 61, 0.8);
}
.review .list .swiper-slide a .tit h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
    padding: 55px 0 22px 0;
}
.review .list .swiper-slide a .tit p{
    color: #3d3d3d;

}
@media screen and (max-width:1500px){
    .review .list .swiper-slide a .photo{
        width: 100%;
        height: 311px;
        border-radius: 10px;
        overflow: hidden;
    }
    .review .list .swiper-slide a .photo img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: top;
    }
    .review .list .swiper-slide a{
        flex-direction: column;
        gap: 16px;
    }
    .review .list .more a{
        right: 13px;
        top: -130px;
        width: 28px;
        height: 27px;
    }
    .review .list .swiper-slide a .tit h3{
        padding: 0 0 22px 0;
    }
    .review .list .swiper-slide a .tit p{
        display: none;
    }
    .review .list .swiper-slide a .tit{
        display: flex;
        flex-direction: column-reverse; /*pc에서 날짜가 위에 있던 걸 모바일에선 아래로*/
        padding: 0 0 0 0;
    }
    
}
@media screen and (max-width:1440px){
    .review .list{
        padding: 0 0 119px 0;
    }
    .review .list .more a{
        content: "";
        position: absolute;
        right: 13px;
        top: -54px;
        width: 25px;
        height: 25px;
        background: url(../images/main/more.svg) no-repeat center center;
    }
    .review .tt h2{
        padding: 84px 0 44px 0;
    }
}
@media screen and (max-width:769px){
    
    .review .list .swiper-slide .tit{
        display: block;
    }
    .review .list .more a{
        right: 13px;
        top: 385px;
        z-index: 1;
        width: 15px;
        height: 15px;
    }

}
@media screen and (max-width:426px){
    .review .list .more a{
        right: 13px;
        top: 417px;
        z-index: 1;
        width: 15px;
        height: 15px;
    }
}
.footer{
    position: relative;
    border-top: 1px solid #ccc;
    padding: 64px 0 0 0;
}
.footer .wrapper{
    display: flex;
    gap: 158px; 
    flex-direction: row-reverse; /* 모바일에서 로고가 아래로 향해서*/   
    justify-content: flex-end;
}
.footer .left{
    display: flex;
    flex-direction: column-reverse; /* 모바일에서 로고가 아래로 향해서*/
    justify-content: flex-end;  /* 모바일에서 로고가 아래로 향해서*/
}
.footer .left .counsel{
    margin: 69px 0 0 0;
}
.footer .f_nav ul{
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    color: #3d3d3d;
    gap: 33px;
}
.footer .f_info{
    color: #3d3d3d;
    margin: 48px 0 0 0;
}
.footer .f_info span{
    margin: 0 10px 20px 0;
    display: inline-block; /*글자 위아래 사이에 여백 줄 때 inline-block*/
    
}
.footer .copy{
    color: rgba(61, 61, 61, 0.8);
    margin: 0 0 78px 0;
}
@media screen and (max-width:1250px){
    .footer{
        padding: 37px 0 0 0;
    }
    .footer .wrapper{
        display: block;
    }
    /* .footer .f_nav ul li::after{
        content: "";
        position: absolute;
        right: 1;
        top: 3;
        width: 1px;
        height: 10px;
        background-color: #ccc;
    } */
    .footer .f_info{
        margin: 31px 0 0 0;
    }
    .footer .left{
        text-align: center;
    }
    
}     
@media screen and (max-width:1025px){
    .footer .left{
        margin: 0 0 74px 0;
    }
}